anyio==4.13.0
boto3==1.42.93
botocore==1.42.93
certifi==2026.2.25
charset-normalizer==3.4.7
dotenv==0.9.9
elastic-transport==9.2.1
elasticsearch==9.3.0
Events==0.5
grpcio==1.80.0
idna==3.12
jmespath==1.1.0
kafka-python==2.3.1
opensearch-protobufs==1.2.0
opensearch-py==3.2.0
packaging==26.0
protobuf==7.34.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.33.1
s3transfer==0.16.0
six==1.17.0
sniffio==1.3.1
typing_extensions==4.15.0
urllib3==2.6.3
